__pycache__/
media/
temp/
models/
.cache
.venv/
.venv2/
.venv-eval
.pytest_cache/
.idea/
.vscode/
scripts/
data
logs
.env
*.log
*.wav
*.pyc
*.pyo
*.pyd
*.pyw
*.prof
.DS_Store
.venv_old/
orch/
.vscode/
owlai.egg-info/
dist/
build/
