__pycache__/
media/
temp/
models/
.cache
.venv*/

.pytest_cache/
.idea/
.vscode/
data
logs
.env*
*.log
*.wav
*.pyc
*.pyo
*.pyd
*.pyw
*.prof
.DS_Store
orch/
.vscode/
owlai.egg-info/
dist/
build/
pyproject.toml
